* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #333;
  width: 100%;
  color: white;
  font-family: 'Montserrat', serif;
}

main {
  height: 100vh;
}

.background {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  background-image: url("../img/lion.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background ul {
  list-style: none;
}

.background .menu {
  position: absolute;
  top: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 100%;
}

.background .menu .block__item, .background .menu .block__item > ul > li {
  margin: 10px;
  width: 95px;
  height: 50px;
  background-color: rgba(120, 120, 120, 0.8);
  border-radius: 3px;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  text-align: center;
}

.background .menu .block__item p, .background .menu .block__item > ul > li p {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.background .menu .block__item input, .background .menu .block__item > ul > li input {
  cursor: pointer;
}

.background .menu .block__item--2, .background .menu .block__item > ul > li--2 {
  width: 70%;
  background: none;
}

.background .menu .block__item--3 .dropdown, .background .menu .block__item > ul > li--3 .dropdown {
  position: relative;
}

.background .menu .block__item--3 .dropdown li, .background .menu .block__item > ul > li--3 .dropdown li {
  display: none;
  margin: 0;
  height: 25px;
  opacity: 0;
  -webkit-transition: color .3s, background-color .3s;
  transition: color .3s, background-color .3s;
}

.background .menu .block__item--3 .dropdown li input, .background .menu .block__item > ul > li--3 .dropdown li input {
  margin: 5px;
}

.background .menu .block__item--3 .dropdown li:hover, .background .menu .block__item > ul > li--3 .dropdown li:hover {
  background-color: rgba(30, 30, 30, 0.8);
}

.background .menu .block__item--3:hover .dropdown li, .background .menu .block__item > ul > li--3:hover .dropdown li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-left: 5%;
  overflow: hidden;
  -webkit-animation: dropdown-anim .5s forwards;
          animation: dropdown-anim .5s forwards;
}

.background .menu .block__item--5, .background .menu .block__item > ul > li--5 {
  width: 30%;
  min-height: 85px;
  max-height: 500px;
  overflow: hidden;
}

.background .menu .block__item--5 p, .background .menu .block__item > ul > li--5 p {
  padding: 20px;
  height: 5%;
}

.background .menu .block__item--5 input, .background .menu .block__item > ul > li--5 input {
  margin-bottom: 10px;
}

.background .menu .block__item--5 ul, .background .menu .block__item > ul > li--5 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.background .menu .block__item--5 ul li, .background .menu .block__item > ul > li--5 ul li {
  width: 80%;
  margin: 2px 0;
  height: 20px;
  border: 1px #c8c8c8 solid;
}

.background .menu .block__item--5 ul li:hover, .background .menu .block__item > ul > li--5 ul li:hover {
  background-color: rgba(120, 120, 120, 0.8);
}

.background .menu .block__item .dropdown li:nth-child(2), .background .menu .block__item > ul > li .dropdown li:nth-child(2) {
  -webkit-animation-delay: .1s;
          animation-delay: .1s;
}

.background .menu .block__item .dropdown li:nth-child(3), .background .menu .block__item > ul > li .dropdown li:nth-child(3) {
  -webkit-animation-delay: .15s;
          animation-delay: .15s;
}

.background .menu .block__item .dropdown li:nth-child(4), .background .menu .block__item > ul > li .dropdown li:nth-child(4) {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

.background .menu .block__item .dropdown li:nth-child(5), .background .menu .block__item > ul > li .dropdown li:nth-child(5) {
  -webkit-animation-delay: .25s;
          animation-delay: .25s;
}

.background .menu .block__item .dropdown li:nth-child(6), .background .menu .block__item > ul > li .dropdown li:nth-child(6) {
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

.background .menu .block__item .dropdown li:nth-child(7), .background .menu .block__item > ul > li .dropdown li:nth-child(7) {
  -webkit-animation-delay: .35s;
          animation-delay: .35s;
}

.background .menu .block__item .dropdown li:nth-child(8), .background .menu .block__item > ul > li .dropdown li:nth-child(8) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

.background .menu .block__item:hover {
  background-color: rgba(30, 30, 30, 0.8);
}

.background .menu .block__item--2:hover {
  background: none;
}

.background .menu .set-background {
  border: none;
  background: none;
  color: white;
  font-size: 3rem;
  text-shadow: 2px 2px 12px #000;
}

.background .menu .set-background i {
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.background .menu .set-background:hover {
  cursor: pointer;
}

.background .menu .set-background:hover i {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.background .say-hi {
  position: absolute;
  top: 15%;
  font-size: 4rem;
  background-color: blue;
}

@-webkit-keyframes dropdown-anim {
  from {
    opacity: 0;
    -webkit-transform: rotateY(-60deg) translateX(60px);
            transform: rotateY(-60deg) translateX(60px);
  }
  to {
    opacity: 1;
    -webkit-transform: rotateY(0) translateX(0px);
            transform: rotateY(0) translateX(0px);
  }
}

@keyframes dropdown-anim {
  from {
    opacity: 0;
    -webkit-transform: rotateY(-60deg) translateX(60px);
            transform: rotateY(-60deg) translateX(60px);
  }
  to {
    opacity: 1;
    -webkit-transform: rotateY(0) translateX(0px);
            transform: rotateY(0) translateX(0px);
  }
}
/*# sourceMappingURL=main.css.map */